h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

.board {
	display: inline-block;
	width: 50%;
	height: 50%;
	margin: 8%;
}

.card {
	height: 200px;
	width: 150px;
	border: solid;
	border-color: black;
	border-radius: 10px;
	background-color: yellow;
	margin: 15px;
	float: left;
}

.name {
	color: #ff0000;
}

body {
	text-align: center;
}

nav {
	background-color: #808080;
}

a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

a:hover {
     background-color: #808080;
}

.clearfix:after {
    	visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer {
		background-color: #808080;
}

img {
	width: 20px;
	height: 20px;
}

